
<%

//var pagecss = ['/stylesheets/index.css'];
var pagejs = ['/javascripts/index.js'];

%>


<%- include('./header',{extraCSS:[],extraJS:pagejs}); %>


<body>

	<%- include('./navbar',{page:'Home'}); %>


    <h2>Welcome <%=locals.user.name.split(' ')[0]%></h2>



<%- include('./footer'); %>
